<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <title>Mark's Site</title>
</head>

<body>
<ul class="navbar">
  <li><%= link_to('Home',{:action => 'index'}) %>
  <li><%= link_to('New Page',{:action => 'new'}) %>
</ul>
<h1>Mark's Site</h1>

<p>This is a new page!</p>