<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <title>Mark's Site</title>
</head>

<body>
<ul class="navbar">
  <li><%= link_to('Home',{:controller => 'welcome'},{:action => 'index'}) %>
  <li><%= link_to('Comments', {:controller => 'comments'}, {:action => 'index'}) %>
</ul>
<h1>Mark's Site</h1>

<p>This is a new page!</p>
<p>There's nothing here... Yet!</p>
</body>