// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, p {
  margin: 0;
}

body {
  background-color: lightgrey;
  border-style: solid;
  border-width: 5px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: darkred;
  box-shadow: 0px 2px 5px lightgrey;
  height: 80px;
  text-align: center;
}

.header img {
  margin: 15px 0 0;
  width: 60px;
}

.header h1 {
  text-indent: -9999px;
}

.container {
  width: 480px;
  margin: 0 auto;
  position: center;
}

.comments, .create {
  margin: 40px 0;
}

.comments a,
.create .actions input {
  background-color: darkred;
  border: none;
  color: lightgrey;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
  text-decoration: none;
  display: inline-block;
}

.comment {
  background-color: darkred;
  font-weight: 300;
  padding: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
p.content {
  color: lightgrey;
  font-size: 12px;
  margin-top: 12px;
}
p.time {
  color: lightgrey;
  font-size: 12px;
  margin-top: 12px;
}

button {
  background-color: darkred;
  border: none;
  color: lightgrey;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: darkred;
  transition: background-color 0.5s;
}

form label {
  display: block;
  width: 100%;
}

form textarea {
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 20px 0 10px;
  min-height: 100px;
  padding: 16px;
  transition: border 0.5s;
  width: calc(100% - 32px);
}

form textarea:focus {
  border: 1px solid lightgrey;
  box-shadow: 0;
  outline: 0;
  transition: border 0.5s;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .comment, .create {
    padding: 0 20px;
  }
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
}
ul.navbar li {
  background: darkred;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em deepskyblue
}

ul.navbar a {
  text-decoration: none
}